@model MVC.Models.Cook.ChangePasswordModel

<div class="flex center column" style="margin-top: 50px">
    <section style="min-width: 370px; max-width: 450px" class="m-3">
        @if (ViewBag.ErrorMessages != null)
        {
            @foreach (string error in ViewBag.ErrorMessages)
            {
                <div class="alert alert-danger" style="padding: 1rem 40px">
                    @error
                </div>
            }
        }
        @if(ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success" style="padding: 1rem 40px">
                @ViewBag.SuccessMessage
            </div>
        }
        <form method="post" class="flex column">
            <h1 class="text-xl">Change your hashedPassword</h1>
            @Html.HiddenFor(model => model.Username)
            <label>Old hashedPassword</label>
            @Html.PasswordFor(model => model.OldPassword, new { placeholder = "\uF023  Old Password", required = true, oninvalid = "this.setCustomValidity('Please enter your current hashedPassword.')" })
            <label>New hashedPassword</label>
            @Html.PasswordFor(model => model.NewPassword, new { placeholder = "\uF023  New hashedPassword", required = true, oninvalid = "this.setCustomValidity('Please enter your new hashedPassword.')" })
            <label>Confirm new hashedPassword</label>
            @Html.PasswordFor(model => model.ConfirmNewPassword, new { placeholder = "\uF023  Confirm new hashedPassword", required = true, oninvalid = "this.setCustomValidity('Please enter your new hashedPassword again for confirmation.')" })
            <button type="submit" class="button" style="margin-top: 16px">Change Password</button>
        </form>
    </section>
</div>