@model MVC.Models.Cook.CookModel

@{
    ViewBag.Title = Model.Cook.UserName;
}

<div>
    <h2>@Model.Cook.Id</h2>
    <p>@Model.Cook.UserName</p>
    <p>@Model.Cook.FullName</p>
    <p>@Model.Cook.ImageUrl</p>
    <p>@Model.Cook.CreatedAt</p>
</div>