@using BLL.Entities.Review
@using BLL.Entities.Recipe
@model MVC.Models.Cook.CookModel

@if (Model.Cook == null)
{
    <h2>Cook not found.</h2>
}
else
{
    <div class="flex center column b-radius bg-white" style="height: 200px" >
        <div class="flex justify-content-end align-items-center m-3">
            <div>
                <img style="border-radius: 50%" src="@Model.Cook.ImageUrl" width="100px" height="100px" alt="@Model.Cook.Fullname's image"/>
            </div>
            <div class="ms-3">
                <h2 class="m-0">@Model.Cook.Fullname</h2>
                @{
                    string username = "@" + Model.Cook.Username;
                }
                <p class="m-0 text-m text-black-50">@username</p>
                <p class="m-0 text-s text-black-50">Joined on: @Model.Cook.CreatedAt.ToShortDateString()</p>
            </div>
        </div>
        <div class="flex justify-content-end w-100 px-3">
            @if (ViewBag.IsOwner)
            {
                <button class="button" onclick="location.href = '/Cook/@Model.Cook.Username/Edit'">Edit Profile</button>
            }
        </div>
    </div>
    <div class="flex jcenter column mt-3">
        <div class="flex jcenter">
            <button
                id="RecipesTab"
                class="px-4 py-2 mx-1 border-0 bg-secondary active"
                style="border-top-left-radius: 6px; border-top-right-radius: 6px"
                onclick="{
                    location.href = '/Cook/@Model.Cook.Username/?tab=Recipes';
                }">
                Recipes
            </button>
            <button
                id="ReviewsTab"
                class="px-4 py-2 mx-1 border-0 bg-secondary"
                style="border-top-left-radius: 6px; border-top-right-radius: 6px"
                onclick="{
                location.href = '/Cook/@Model.Cook.Username/?tab=CookReviews';
            }">
                Reviews
            </button>
        </div>
        <div class="flex jcenter">
            <div class="b-radius w-75 bg-white" style="min-width: 370px">
                @if (ViewBag.CookReviews != null)
                {
                    if (ViewBag.CookReviews.Count == 0)
                    {
                        <div class="flex jcenter text-white b-radius" style="padding: 8px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);">
                            <p class="text-s m-0">No reviews found.</p>
                        </div>
                    }
                    @foreach (CookReview cookReview in ViewBag.CookReviews)
                    {
                        <div class="flex jcenter text-white column b-radius">
                            <div class="flex jcenter" style="padding: 8px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);">
                                <div class="flex justify-content-between mx-2 wrap" style="width: 100%">
                                    <div class="flex acenter flex1" style="flex: 0 1 190px">
                                        <div>
                                            <img src="@cookReview.Reviewer.ImageUrl" style="width: 60px; height: 60px; border-radius: 50%" alt="@cookReview.Reviewer.Fullname image"/>
                                        </div>
                                        <div class="ms-2 flex column">
                                            <h1 class="text-l m-0">@cookReview.Reviewer.Fullname</h1>
                                            <div>
                                                @for (int i = 1; i <= 10; i++)
                                                {
                                                    if (i % 2 == 0)
                                                    {
                                                        if (i <= cookReview.Rating)
                                                        {
                                                            <img height="20px" src="/images/star.png" alt="star"/>
                                                        }
                                                        else if (i - 1 == cookReview.Rating)
                                                        {
                                                            <img height="20px" src="/images/half_star.png" alt="half star"/>
                                                        }
                                                        else
                                                        {
                                                            <img height="20px" src="/images/no_star.png" alt="no star"/>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex center p-3" style="flex: 0 1 600px">
                                        <p class="text-s m-0">@cookReview.Comment</p>
                                    </div>
                                    <div class="flex center text-center" style="flex: 0 1 100px">
                                        <p class="text-s m-0">@cookReview.CreatedAt</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                @if (ViewBag.Recipes != null)
                {
                    if (ViewBag.Recipes.Count == 0)
                    {
                        <div class="flex jcenter b-radius" style="padding: 8px;">
                            <p class="text-s m-0">No recipes found.</p>
                        </div>
                    }
                    @foreach (Recipe recipe in ViewBag.Recipes)
                    {
                        <a class="flex jcenter column b-radius" 
                           style="text-decoration: none"
                           href="/Recipe/@recipe.Id">
                            <div class="flex center" style="padding: 8px; ">
                                <img src="@recipe.ImageUrl" style="width: 60px; height: 60px; border-radius: 50%" alt="@recipe.Name image"/>
                                <div class="flex justify-content-between mx-2" style="width: 100%">
                                    <div class="flex1">
                                        <h1 class="text-l m-0">@recipe.Name</h1>
                                    </div>
                                    <div class="flex flex1 acenter text-center justify-content-end">
                                        <p class="text-s m-0">@recipe.CreatedAt</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
    </div>
    
    <style>
        .active {
            background-color: var(--primary) !important;
            color: white !important;
        }
    </style>
           
    <script>
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const tab = urlParams.get('tab');
        if (tab === 'Recipes') {
            document.getElementById('RecipesTab').classList.add('active');
            document.getElementById('ReviewsTab').classList.remove('active');
        }
        if (tab === 'CookReviews') {
            document.getElementById('ReviewsTab').classList.add('active');
            document.getElementById('RecipesTab').classList.remove('active');
        }
    </script>
}